extends layout

block content
    div.container
        h1= title
        p Hello World!

        div.alert.alert-info
            b TODO:&nbsp;
            br
            | &raquo; Implement implicit mods and values
            br
            | &raquo; Implement min and max damage values

        hr

        each item, type in currency
            h3= type

            table.table.table-striped.table-bordered.table-hover.table-condensed
                thead
                    tr
                        th(style="width:200px;") Name
                        th Stack Size
                        th Description

                tbody
                    for o in item
                        tr
                            td#item-name(data-type=type)
                                img.pull-left.small-img(src=o.smallImg)
                                a.ez(href="#")= o.name
                                    span.ez
                                        img(src=o.largeImg)
                            td= o.stackSize
                            td= o.description
