extends layout

block content
    div.container
        h1= title
        p Hello World!

        div.alert.alert-info
            b TODO:&nbsp;
            br
            | &raquo; Implement implicit mods and values
            br
            | &raquo; Implement min and max damage values

        hr

        each item, type in jewelry
            h3= type

            table.table.table-striped.table-bordered.table-hover.table-condensed
                thead
                    tr
                        th Name
                        th Level
                        th Implicit Mods
                        th Mod Values

                tbody
                    for o in item
                        tr
                            td#item-name(data-type=type)
                                img.pull-left.small-img(src=o.smallImg)
                                a.ez(href="#")= o.name
                                    span.ez
                                        img(src=o.largeImg)
                            td= o.lvl
                            if o.multi
                                td
                                    | #{o.impMod1}
                                    br
                                    | #{o.impMod2}
                                td
                                    | #{o.modValue1}
                                    br
                                    | #{o.modValue2}
                            else
                                td= o.impMods
                                td= o.modValues
